.woocommerce form .form-row .required {
    visibility: visible;
}

.bg {
    opacity: 0;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

.bg-loaded {
    opacity: 1;
}

:root {
    --primary-color: #140c00;
}

.full-width .ubermenu-nav,
.container,
.row {
    max-width: 1170px
}

.row.row-collapse {
    max-width: 1140px
}

.row.row-small {
    max-width: 1162.5px
}

.row.row-large {
    max-width: 1200px
}

.header-main {
    height: 100px
}

#logo img {
    max-height: 100px
}

#logo {
    width: 176px;
}

.header-bottom {
    min-height: 55px
}

.header-top {
    min-height: 30px
}

.transparent .header-main {
    height: 30px
}

.transparent #logo img {
    max-height: 30px
}

.has-transparent+.page-title:first-of-type,
.has-transparent+#main>.page-title,
.has-transparent+#main>div>.page-title,
.has-transparent+#main .page-header-wrapper:first-of-type .page-title {
    padding-top: 30px;
}

.header.show-on-scroll,
.stuck .header-main {
    height: 70px!important
}

.stuck #logo img {
    max-height: 70px!important
}

.search-form {
    width: 60%;
}

.header-bg-color,
.header-wrapper {
    background-color: rgba(255, 255, 255, 0.9)
}

.header-bottom {
    background-color: #f1f1f1
}

.header-main .nav>li>a {
    line-height: 30px
}

.stuck .header-main .nav>li>a {
    line-height: 30px
}

@media (max-width: 549px) {
    .header-main {
        height: 70px
    }
    #logo img {
        max-height: 70px
    }
}


/* Color */

.accordion-title.active,
.has-icon-bg .icon .icon-inner,
.logo a,
.primary.is-underline,
.primary.is-link,
.badge-outline .badge-inner,
.nav-outline>li.active>a,
.nav-outline>li.active>a,
.cart-icon strong,
[data-color='primary'],
.is-outline.primary {
    color: #140c00;
}


/* Color !important */

[data-text-color="primary"] {
    color: #140c00!important;
}


/* Background Color */

[data-text-bg="primary"] {
    background-color: #140c00;
}


/* Background */

.scroll-to-bullets a,
.featured-title,
.label-new.menu-item>a:after,
.nav-pagination>li>.current,
.nav-pagination>li>span:hover,
.nav-pagination>li>a:hover,
.has-hover:hover .badge-outline .badge-inner,
button[type="submit"],
.button.wc-forward:not(.checkout):not(.checkout-button),
.button.submit-button,
.button.primary:not(.is-outline),
.featured-table .title,
.is-outline:hover,
.has-icon:hover .icon-label,
.nav-dropdown-bold .nav-column li>a:hover,
.nav-dropdown.nav-dropdown-bold>li>a:hover,
.nav-dropdown-bold.dark .nav-column li>a:hover,
.nav-dropdown.nav-dropdown-bold.dark>li>a:hover,
.is-outline:hover,
.tagcloud a:hover,
.grid-tools a,
input[type='submit']:not(.is-form),
.box-badge:hover .box-text,
input.button.alt,
.nav-box>li>a:hover,
.nav-box>li.active>a,
.nav-pills>li.active>a,
.current-dropdown .cart-icon strong,
.cart-icon:hover strong,
.nav-line-bottom>li>a:before,
.nav-line-grow>li>a:before,
.nav-line>li>a:before,
.banner,
.header-top,
.slider-nav-circle .flickity-prev-next-button:hover svg,
.slider-nav-circle .flickity-prev-next-button:hover .arrow,
.primary.is-outline:hover,
.button.primary:not(.is-outline),
input[type='submit'].primary,
input[type='submit'].primary,
input[type='reset'].button,
input[type='button'].primary,
.badge-inner {
    background-color: #140c00;
}


/* Border */

.nav-vertical.nav-tabs>li.active>a,
.scroll-to-bullets a.active,
.nav-pagination>li>.current,
.nav-pagination>li>span:hover,
.nav-pagination>li>a:hover,
.has-hover:hover .badge-outline .badge-inner,
.accordion-title.active,
.featured-table,
.is-outline:hover,
.tagcloud a:hover,
blockquote,
.has-border,
.cart-icon strong:after,
.cart-icon strong,
.blockUI:before,
.processing:before,
.loading-spin,
.slider-nav-circle .flickity-prev-next-button:hover svg,
.slider-nav-circle .flickity-prev-next-button:hover .arrow,
.primary.is-outline:hover {
    border-color: #140c00
}

.nav-tabs>li.active>a {
    border-top-color: #140c00
}

.widget_shopping_cart_content .blockUI.blockOverlay:before {
    border-left-color: #140c00
}

.woocommerce-checkout-review-order .blockUI.blockOverlay:before {
    border-left-color: #140c00
}


/* Fill */

.slider .flickity-prev-next-button:hover svg,
.slider .flickity-prev-next-button:hover .arrow {
    fill: #140c00;
}


/* Background Color */

[data-icon-label]:after,
.secondary.is-underline:hover,
.secondary.is-outline:hover,
.icon-label,
.button.secondary:not(.is-outline),
.button.alt:not(.is-outline),
.badge-inner.on-sale,
.button.checkout,
.single_add_to_cart_button,
.current .breadcrumb-step {
    background-color: #ffffff;
}

[data-text-bg="secondary"] {
    background-color: #ffffff;
}


/* Color */

.secondary.is-underline,
.secondary.is-link,
.secondary.is-outline,
.stars a.active,
.star-rating:before,
.woocommerce-page .star-rating:before,
.star-rating span:before,
.color-secondary {
    color: #ffffff
}


/* Color !important */

[data-text-color="secondary"] {
    color: #ffffff!important;
}


/* Border */

.secondary.is-outline:hover {
    border-color: #ffffff
}

body {
    font-size: 100%;
}

@media screen and (max-width: 549px) {
    body {
        font-size: 99%;
    }
}

body {
    font-family: "ABeeZee", sans-serif
}

body {
    font-weight: 0
}

.nav>li>a {
    font-family: "Lato", sans-serif;
}

.mobile-sidebar-levels-2 .nav>li>ul>li>a {
    font-family: "Lato", sans-serif;
}

.nav>li>a {
    font-weight: 700;
}

.mobile-sidebar-levels-2 .nav>li>ul>li>a {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font,
.off-canvas-center .nav-sidebar.nav-vertical>li>a {
    font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font,
.banner h1,
.banner h2 {
    font-weight: 0;
}

.alt-font {
    font-family: "Dancing Script", sans-serif;
}

.alt-font {
    font-weight: 400!important;
}

.header:not(.transparent) .header-nav-main.nav>li>a {
    color: #000000;
}

.header:not(.transparent) .header-nav-main.nav>li>a:hover,
.header:not(.transparent) .header-nav-main.nav>li.active>a,
.header:not(.transparent) .header-nav-main.nav>li.current>a,
.header:not(.transparent) .header-nav-main.nav>li>a.active,
.header:not(.transparent) .header-nav-main.nav>li>a.current {
    color: #000000;
}

.header-nav-main.nav-line-bottom>li>a:before,
.header-nav-main.nav-line-grow>li>a:before,
.header-nav-main.nav-line>li>a:before,
.header-nav-main.nav-box>li>a:hover,
.header-nav-main.nav-box>li.active>a,
.header-nav-main.nav-pills>li>a:hover,
.header-nav-main.nav-pills>li.active>a {
    color: #FFF!important;
    background-color: #000000;
}

a {
    color: #000000;
}

a:hover {
    color: #f12727;
}

.tagcloud a:hover {
    border-color: #f12727;
    background-color: #f12727;
}

.current .breadcrumb-step,
[data-icon-label]:after,
.button#place_order,
.button.checkout,
.checkout-button,
.single_add_to_cart_button.button {
    background-color: rgba(234, 130, 50, 0.99)!important
}

.badge-inner.on-sale {
    background-color: #e12323
}

.price del,
.product_list_widget del,
del .woocommerce-Price-amount {
    color: #000000;
}

ins .woocommerce-Price-amount {
    color: #d72d2d;
}

input[type='submit'],
input[type="button"],
button:not(.icon),
.button:not(.icon) {
    border-radius: 2!important
}

@media screen and (min-width: 550px) {
    .products .box-vertical .box-image {
        min-width: 300px!important;
        width: 300px!important;
    }
}

.header-main .social-icons,
.header-main .cart-icon strong,
.header-main .menu-title,
.header-main .header-button>.button.is-outline,
.header-main .nav>li>a>i:not(.icon-angle-down) {
    color: #000000!important;
}

.header-main .header-button>.button.is-outline,
.header-main .cart-icon strong:after,
.header-main .cart-icon strong {
    border-color: #000000!important;
}

.header-main .header-button>.button:not(.is-outline) {
    background-color: #000000!important;
}

.header-main .current-dropdown .cart-icon strong,
.header-main .header-button>.button:hover,
.header-main .header-button>.button:hover i,
.header-main .header-button>.button:hover span {
    color: #FFF!important;
}

.header-main .menu-title:hover,
.header-main .social-icons a:hover,
.header-main .header-button>.button.is-outline:hover,
.header-main .nav>li>a:hover>i:not(.icon-angle-down) {
    color: #000000!important;
}

.header-main .current-dropdown .cart-icon strong,
.header-main .header-button>.button:hover {
    background-color: #000000!important;
}

.header-main .current-dropdown .cart-icon strong:after,
.header-main .current-dropdown .cart-icon strong,
.header-main .header-button>.button:hover {
    border-color: #000000!important;
}

.footer-1 {
    background-color: #3d3d3d
}

.footer-2 {
    background-color: #333333
}

.absolute-footer,
html {
    background-color: #fff
}

.label-new.menu-item>a:after {
    content: "New";
}

.label-hot.menu-item>a:after {
    content: "Hot";
}

.label-sale.menu-item>a:after {
    content: "Sale";
}

.label-popular.menu-item>a:after {
    content: "Popular";
}